

#DefaultLabel {
	-fx-font-size: 20px;
	-fx-font-family: "Source Sans Pro", sans-serif;
	-fx-text-fill: #000;
}

#Border {
	-fx-border-color: black;
}

#TopHbox {
	-fx-border-color: #6C7A89;
	-fx-background-color: #BDC3C7;
	-fx-padding: 10;
}

#LeftVbox {
	-fx-background-color: #6C7A89;
}

#CenterVbox {
	-fx-background-color: #ECF0F1;
	-fx-padding: 10;
}

#RightVbox {
	-fx-background-color: #ECF0F1;
	-fx-padding: 10;
}

#LoginBox {
	-fx-background-image: url("E&Elogo.png");
	-fx-background-repeat: no-repeat;
	-fx-background-position: left top;
	-fx-background-size: 250px 175px
}

.MenuButton {
	-fx-background-image: url("menu.png");
    -fx-background-size: 32px 32px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: #6c7a89;
    -fx-effect: dropshadow(three-pass-box, #9E9E9E, 4, 0, 0, 2);
    -fx-cursor: hand;
}

.HelpButton {
	-fx-background-image: url("help.png");
    -fx-background-size: 32px 32px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: #6c7a89;
    -fx-effect: dropshadow(three-pass-box, #9E9E9E, 4, 0, 0, 2);
    -fx-cursor: hand;
}

.MenuButton:hover,
.HelpButton:hover {
	-fx-opacity: 0.6;
	-fx-background-color: #616D7B;
}

.MenuButton:selected,
.HelpButton:selected {
	-fx-opacity: 1.0;
	-fx-background-color: #7A8794;
	-fx-effect: dropshadow(three-pass-box, transparent, 0, 0, 0, 0);
}

.Tab {
	-fx-focus-color: transparent;
	-fx-font-weight: bold;
}
.scroll-pane {
	-fx-background: #ECF0F1;
	-fx-border-color: #ECF0F1;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-background-color: #ECF0F1;
	-fx-border-color: #ECF0F1;
}

.ComboBox {
	-fx-font-size: 16px;
	-fx-font-family: "Source Sans Pro", sans-serif;
	-fx-font-weight: normal;
	-fx-background-color: #D4D8D8;
	-fx-background-radius: 3px;
	-fx-border-color: transparent;
	-fx-effect: dropshadow(three-pass-box, #9E9E9E, 3, 0, 0, 2);
	-fx-cursor: hand;
}

.ComboBox .list-view .list-cell:selected {
	-fx-background-color: #7A8794;
}

.ComboBox .list-view .list-cell:hover {
	-fx-background-color: #98A1AC;
}

.ComboBox .list-view .list-cell:pressed {
	-fx-background-color: #8994A0;
}

#TextField {
	-fx-font-size: 16px;
	-fx-font-family: "Source Sans Pro", sans-serif;
	-fx-font-weight: normal;
	-fx-background-color: #FFFFFF;
	-fx-border-color: #000000;
	-fx-border-radius: 3px;
	-fx-effect: dropshadow(three-pass-box, #9E9E9E, 3, 0, 0, 2);
}

.LeftButton {
	-fx-font-size: 16px;
	-fx-padding: 15px 30px 15px 30px;
	-fx-font-family: "Source Sans Pro", sans-serif;
	-fx-background-color: #6C7A89;
	-fx-text-fill: #FFFFFF;
	-fx-cursor: hand;
	-fx-border-radius: 0px;
	-fx-border-color: #88909A;
}

.LeftButton:hover {
	-fx-opacity: 0.6;
	-fx-background-color: #88909A;
}

.LeftButton:pressed {
	-fx-opacity: 0.8;
	-fx-background-color: #798089;
	-fx-effect: dropshadow(three-pass-box, transparent, 0, 0, 0, 0);
}

.CartButton {	
	-fx-background-image: url("cart.png");
    -fx-background-size: 32px 32px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: #D4D8D8;
    -fx-cursor: hand;
    -fx-effect: dropshadow(three-pass-box, #9E9E9E, 4, 0, 0, 2);
}

.CartButton:hover {
	-fx-opacity: 0.6;
	-fx-background-color: #98A1AC;
}

.CartButton:pressed {
	-fx-opacity: 0.8;
	-fx-background-color: #8994A0;
	-fx-effect: dropshadow(three-pass-box, transparent, 0, 0, 0, 0);
}

.CartButton:selected {
	-fx-opacity: 1.0;
	-fx-background-color: #7A8794;
	-fx-effect: dropshadow(three-pass-box, transparent, 0, 0, 0, 0);
}

.SearchButton {	
	-fx-background-image: url("search-icon.png");
    -fx-background-size: 32px 32px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: #D4D8D8;
    -fx-cursor: hand;
    -fx-effect: dropshadow(three-pass-box, #9E9E9E, 4, 0, 0, 2);
}

.SearchButton:hover {
	-fx-opacity: 0.6;
	-fx-background-color: #98A1AC;
}

.SearchButton:pressed {
	-fx-opacity: 0.8;
	-fx-background-color: #8994A0;
	-fx-effect: dropshadow(three-pass-box, transparent, 0, 0, 0, 0);
}

.SearchButton:selected {
	-fx-opacity: 1.0;
	-fx-background-color: #7A8794;
	-fx-effect: dropshadow(three-pass-box, transparent, 0, 0, 0, 0);
}

.GreenButton {
	-fx-font-size: 16px;
	-fx-padding: 5px 25px 5px 25px;
	-fx-font-family: "Source Sans Pro", sans-serif;
	-fx-background-color: #03a678;
	-fx-text-fill: #ffffff;
	-fx-cursor: hand;
	-fx-effect: dropshadow(three-pass-box, #9E9E9E, 4, 0, 0, 2);
}

.GreenButton:hover {
	-fx-opacity: 0.6;
	-fx-background-color: #02956C;
}

.GreenButton:pressed {
	-fx-opacity: 0.8;
	-fx-background-color: #028460;
	-fx-effect: dropshadow(three-pass-box, transparent, 0, 0, 0, 0);
}

.GreenButton:selected {
	-fx-opacity: 1.0;
	-fx-background-color: #027454;
	-fx-effect: dropshadow(three-pass-box, transparent, 0, 0, 0, 0);
}

.RedButton {
	-fx-font-size: 16px;
	-fx-padding: 5px 25px 5px 25px;
	-fx-font-family: "Source Sans Pro", sans-serif;
	-fx-background-color: #C0392B;
	-fx-text-fill: #ffffff;
	-fx-cursor: hand;
	-fx-effect: dropshadow(three-pass-box, #9E9E9E, 4, 0, 0, 2);
}

.RedButton:hover {
	-fx-opacity: 0.6;
	-fx-background-color: #AC3426;
}

.RedButton:pressed {
	-fx-opacity: 0.8;
	-fx-background-color: #992E22;
	-fx-effect: dropshadow(three-pass-box, transparent, 0, 0, 0, 0);
}

.RedButton:selected {
	-fx-opacity: 1.0;
	-fx-background-color: #86281E;
	-fx-effect: dropshadow(three-pass-box, transparent, 0, 0, 0, 0);
}

.Button {
	-fx-font-size: 16px;
	-fx-padding: 2.5px 5px 2.5px 5px;
	-fx-font-family: "Source Sans Pro", sans-serif;
	-fx-background-color: #D4D8D8;
	-fx-text-fill: #000;
	-fx-cursor: hand;
	-fx-effect: dropshadow(three-pass-box, #9E9E9E, 4, 0, 0, 2);
}

.Button:hover {
	-fx-opacity: 0.6;
	-fx-background-color: #98A1AC;
}

.Button:pressed {
	-fx-opacity: 0.8;
	-fx-background-color: #8994A0;
	-fx-effect: dropshadow(three-pass-box, transparent, 0, 0, 0, 0);
}

.Button:selected {
	-fx-opacity: 1.0;
	-fx-background-color: #7A8794;
	-fx-effect: dropshadow(three-pass-box, transparent, 0, 0, 0, 0);
}

.ToggleButton {
	-fx-font-size: 16px;
	-fx-padding: 1px 2px 1px 2px;
	-fx-font-family: "Source Sans Pro", sans-serif;
	-fx-text-fill: #000000;
	-fx-background-color: #FFEE58;
	-fx-background-radius: 3px;
	-fx-border-color: transparent;
	-fx-border-width: 1;
	-fx-cursor: hand;
	-fx-effect: dropshadow(three-pass-box, #9E9E9E, 4, 0, 0, 2);
}

.ToggleButton:selected {
	-fx-text-fill: #FFFFFF;
	-fx-background-color: #FDD835;
	-fx-effect: dropshadow(three-pass-box, transparent, 4, 0, 0, 2);
}

.ToggleButton:hover {
	-fx-opacity: 0.8;
}

.ToggleButton:pressed {
	-fx-opacity: 0.6;
}

#TextArea {
	-fx-font-size: 18px;
	-fx-border-color:black;
	-fx-font-family: "Source Sans Pro", sans-serif;
}
#TableView {
	-fx-font-size: 16px;
	-fx-font-family: "Source Sans Pro", sans-serif;
}

#Popup {
	-fx-padding: 10px;
}

#RadioButton {
	-fx-font-size: 20px;
	-fx-font-family: "Source Sans Pro", sans-serif;
	-fx-text-fill: #000;
}